img {
    max-width: 100%;
}

.admin_notification {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#select_id, #table_id {
    font-size: 14px;
}

textarea {
    resize: none;
}